<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>경기지역화폐가맹점 검색</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<!-- header 영역 -->
	<div class="header">
		<h1>경기지역화폐 지도</h1>
		<p>개발중</p>
	</div>

	<!-- navigator 영역 -->
	<div class="nav">
		<a href="#">회원가입</a>
		<a href="#">로그인</a>
		<a href="#">이용안내</a>
	</div>

	<div class="tools">
		<input type="text" id="sample5_address" placeholder="주소" onclick="sample5_execDaumPostcode()" name="post_addr">
		<input type="hidden" id="hidden_location" name="hidden_addr">
		<input type="button" id="search" value="주소 검색" onclick="adSearch()">&nbsp;
		<input type="button" id="my_loc" value="내 위치로 검색" onclick="my_location()">&nbsp;
		<input type="button" id="search_current_location" value="현 위치에서 검색" onclick="send_to_server()">&nbsp&nbsp;
		<label>카테고리
			<select name="category" id="test">
				<option value="" selected>모두</option>
				<option value="일반휴게음식|음식점|음식점업">음식점</option>
				<option value="음료식품">음료식품</option>
				<option value="보건위생">미용실, 네일아트, 화장품</option>
				<option value="문화.취미">문화, 취미</option>
				<option value="의류">의류</option>
				<option value="약국|의원|병원">약국, 병원</option>
				<option value="유통업 영리|GS25">편의점, 마켓</option>
				<option value="숙박업">숙박업</option>
				<option value="수리서비스">세탁소, 수리서비스</option>
				<option value="레저업소|스포츠">레저업소</option>
				<option value="가구">가구</option>
				<option value="건축자제">건축자제</option>
				<option value="직물">직물</option>
				<option value="신변잡화">신변잡화</option>
				<option value="전기제품">전기제품</option>
				<option value="광학제품">사진관, 광학제품</option>
				<option value="연료판매점">주요소</option>
				<option value="레져용품">레져용품</option>
				<option value="서적문구">서적문구</option>
				<option value="주방용구">주방용구</option>
				<option value="학원">학원</option>
				<option value="용역 서비스">용역 서비스</option>
				<option value="여행">여행</option>
			</select>
		</label>
	</div>

	<!-- main content 영역 -->
	<div class="row">
		<div class="left">
			<div class="card">
				<div id="map" style="height: 450px;"></div>
			</div>
		</div>

		<!-- sidebar content 영역 -->
		<!-- <div class="right">
			<div class="card">
				<h2>Right1</h2>
				<div class="fakeimg" style="height: 100px;">Image</div>
				<h2>Right2</h2>
				<div class="fakeimg" style="height:100px">Image</div>
			</div>
		</div> -->
	</div>

	<!-- footer 영역 -->
	<div class="footer">
		<h3>link나 광고</h3>
	</div>



	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8b57e99d2686f4c3a48f76c342a5f3bd&libraries=services"></script>
	<script>

		//마커 객체 보유 배열
		var markers = [];


		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(37.1991281, 126.8290566), // 지도의 중심좌표
		        level: 3, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    }; 

		// 지도를 생성
		var map = new kakao.maps.Map(mapContainer, mapOption); 

        //주소-좌표 변환 객체
        var geocoder = new kakao.maps.services.Geocoder();


        //주소를 통한 검색
        function adSearch(){
            var address = document.getElementById("sample5_address").value;
            geocoder.addressSearch(address, function(result, status) {

                    // 정상적으로 검색이 완료됐으면 
					if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
						map.setLevel(3);
						send_to_server();
                    } 
            });  
        } 
		
		//사용자의 위치를 기반
		function my_location(){
			if (navigator.geolocation) {
				// GeoLocation을 이용해서 접속 위치를 얻어옵니다
				navigator.geolocation.getCurrentPosition(function(position) {
					
					var lat = position.coords.latitude, // 위도
						lon = position.coords.longitude; // 경도

					var callback = function(result, status){

						if (result[0].address.region_1depth_name === "경기"){
							var locPosition = new kakao.maps.LatLng(lat, lon)
							map.setCenter(locPosition);
							map.setLevel(3);
							send_to_server();
						}

						else {
							alert('경기도에서만 작동 합니다!!!')
						}
					}

					geocoder.coord2Address(lat, lon, callback)
				});
			}
		}


		// 지도에 마커를 표시하고 리스너 추가 및 배열에 push하는 함수
		function displayMarker(mydata) {

			for(key in mydata){
				var marker = new kakao.maps.Marker({
					map: map,
					position: new kakao.maps.LatLng(mydata[key]['위도'] ,mydata[key]['경도']) 
				});

				var infowindow = new kakao.maps.InfoWindow({
					content: mydata[key]['상호명']
				});

				kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow))
				kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
				
				markers.push(marker);
			}
		}

		function makeOverListener(map, marker, infowindow) {
			return function() {
				infowindow.open(map, marker);
			};
		}

		function makeOutListener(infowindow) {
			return function() {
				infowindow.close();
			};
		}

		// 배열에 추가된 마커들을 지도에서 삭제하는 함수
		function setMarkers() {
			for ( var i = 0; i < markers.length; i++ ) {
				markers[i].setMap(null);
			}   
			markers = [];       
		}

		//다음 우편번호 찾기 api
		function sample5_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					var addr = data.address; // 최종 주소 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;

					} 
					
					else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 주소 정보를 해당 필드에 넣는다.
					document.getElementById("sample5_address").value = addr;
				},

				onclose: function(state) {
					//state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
					if(state === 'FORCE_CLOSE'){
						//사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
						alert('x')
					}
					 else if(state === 'COMPLETE_CLOSE'){

					}
				}
				
			}).open();
		}




		//좌표데이터 서버로 보내는 함수
        function send_to_server(){
			setMarkers();
			var target = document.getElementById("test");
			document.getElementById("hidden_location").value = map.getCenter();

			var location = {"parm1" : $('#hidden_location').val(), "parm2" : target.options[target.selectedIndex].value}

			console.log(location)

            $.ajax({
                type: 'POST',
                url: 'https://young-hollows-30103.herokuapp.com/ajax',
                data: JSON.stringify(location),
                dataType : 'JSON',
                contentType: "application/json",
                success: function(data){
                    alert('성공!')
					displayMarker(data.mydata)
                },
                error: function(request, status, error){
                    alert('ajax 통신 실패')
                    alert(error);
                }
            })
        }

	</script>
</body>
</html>