<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>경기지역화폐가맹점 검색</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<style>
	#hiddenbutton{
    	display: None;
	}
	.pointandreview{
		margin-top: 3px;
	}
	.starimage{
		width: 20px;
        height: 20px;
		background-image: url("https://i.esdrop.com/d/l5u1qfrqyw0y/4UVh5w2DcX.png");
		background-repeat: no-repeat;
    	background-size: 20px 20px;
		margin-right: 3px;
		float : left
	}
	.point{
		margin-right: 10px;
		display: inline;
	}
	.review{
		display: inline;
	}
	.overlaybox {
		position: relative;
		width: 180px;
		height: 46px;
		text-align: left;
		overflow: hidden;
		font-size: 10px;
		font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;	
	}
	.overlaybox * {padding: 0;margin: 0;}
    .infomation .title {overflow: hidden; text-overflow: ellipsis; display:block; padding: 0px 0px 0px 5px ; height: 14px; background: #eee; border-bottom: 1px solid #ddd;font-size: 10px;font-weight: bold; box-sizing: border-box;}
    .infomation .body {position: relative;overflow: hidden;}
    .infomation .desc {position: relative;height: 33px; padding: 1px 0px 0px 5px}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px; text-overflow: ellipsis; margin-bottom: 1px; font-size: 10px;}
    .infomation .link {color: #5085BB;}
	.markerstarimage{
		width: 13px;
        height: 13px;
		background-image: url("https://i.esdrop.com/d/l5u1qfrqyw0y/4UVh5w2DcX.png");
		background-repeat: no-repeat;
    	background-size: 13px 13px;
		margin-right: 3px;
		float : left
	}
	.marketpoint{
		display: inline;
		margin-right: 5px;
	}
	.reviewpage{
		height: 14px;
		display: inline;
		font-size: 7px;
		line-height: 7px;
	}
</style>
<body>
	<div id="content-container">
		<div class="nav">
			{%if userid%}
			<a>{{userid}}님 안녕하세요! <a href="/logout">로그아웃</a></a>  
			{%else%}
			<a href="http://localhost:5001/login">로그인</a>
			{%endif%}
			<a href="http://localhost:5001/register">회원가입</a>
			<a href="#">이용안내</a>
		</div>

		<div id="map"></div>
		<div class="floating_area">
			<div id="search">
				<input type="text" id="sample5_address" placeholder="주소검색" onclick="sample5_execDaumPostcode()" name="post_addr">
				<input type="hidden" id="hidden_location" name="hidden_addr">
				<button type="button" id="search_point" onclick="my_location()">현재위치</button>
				<button id="search_button" onclick="adSearch()">검색</button>
			</div>
			
			<div id="category"> 
				<div class="left_button">
					<button id="left_button" style="float:left" onclick="reset()">필터 초기화</button>
					<select name="category" id="test">
						<option value="" selected>카테고리</option>
						<option value="일반휴게음식|음식점|음식점업">음식점</option>
						<option value="음료식품">음료식품</option>
						<option value="보건위생">미용실, 네일아트, 화장품</option>
						<option value="문화.취미">문화, 취미</option>
						<option value="의류">의류</option>
						<option value="약국|의원|병원">약국, 병원</option>
						<option value="유통업 영리|GS25">편의점, 마켓</option>
						<option value="숙박업">숙박업</option>
						<option value="수리서비스">세탁소, 수리서비스</option>
						<option value="레저업소|스포츠">레저업소</option>
						<option value="가구">가구</option>
						<option value="건축자제">건축자제</option>
						<option value="직물">직물</option>
						<option value="신변잡화">신변잡화</option>
						<option value="전기제품">전기제품</option>
						<option value="광학제품">사진관, 광학제품</option>
						<option value="연료판매점">주요소</option>
						<option value="레져용품">레져용품</option>
						<option value="서적문구">서적문구</option>
						<option value="주방용구">주방용구</option>
						<option value="학원">학원</option>
						<option value="용역 서비스">용역 서비스</option>
						<option value="여행">여행</option>
					</select>
				</div>

				<div class="right_button">
					<select name="category" style="float:right" id="circle_width">
						<option value="100" >100m</option>
						<option value="250" selected>250m</option>
						<option value="500" >500m</option>
						<option value="1000" >1km</option>
					</select>
					<button id="right_button" onclick="draw_circle()">반경 표시</button>
				</div>
			</div>
			<button class="btn btn-primary" id="hiddenbutton">제출</button>
			<div class="info" id="cell">		

			</div>

		</div>

		<div class="bottom_btn_area">
			<button id="refresh_btn" onclick="searchAddrFromCoords(map.getCenter(), is_gyeonggi)">
				<span>&nbsp;이 지역 검색하기</span>
			</button>
		</div>
	</div>


	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c9551483b0079a351af12a1032f73173&libraries=services"></script>
	<script type="text/javascript">
		var csrftoken = "{{ csrf_token() }}";

		function refreshMemList(){
			  location.reload();
		  }
	  
		function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		//마커 객체 보유 배열
		var markers = [];
		var isClick = 'NonClick'
		var marketaddress = "Null"
		var marketname = "Null"

		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(37.1991281, 126.8290566), // 지도의 중심좌표
		        level: 3, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    }; 

		// 지도를 생성
		var map = new kakao.maps.Map(mapContainer, mapOption); 

        //주소-좌표 변환 객체
        var geocoder = new kakao.maps.services.Geocoder();

		//지도 위 원
		var circle = new kakao.maps.Circle({
			map: map,
			strokeWeight: 1,
            strokeColor: '#00a0e9', 
            strokeOpacity: 0.1,
            strokeStyle: 'solid', 
            fillColor: '#00a0e9', 
            fillOpacity: 0.2 
		});

		//현제 검색한 지도 중심좌표
		var current_location = null;

        //주소를 통한 검색
        function adSearch(){
            var address = document.getElementById("sample5_address").value;
            geocoder.addressSearch(address, function(result, status) {

                    // 정상적으로 검색이 완료됐으면 
					if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
						map.setLevel(3);
						searchAddrFromCoords(map.getCenter(), is_gyeonggi)
                    } 
            });  
        } 
		
		//사용자의 위치를 기반
		function my_location(){
			if (navigator.geolocation) {
				// GeoLocation을 이용해서 접속 위치를 얻어옵니다
				navigator.geolocation.getCurrentPosition(function(position) {
					
					var lat = position.coords.latitude, // 위도
						lon = position.coords.longitude; // 경도
						
						
					var locPosition = new kakao.maps.LatLng(lat, lon);
					map.setCenter(locPosition);
					map.setLevel(3);
					searchAddrFromCoords(map.getCenter(), is_gyeonggi)
				});
			}
		}

		function displayMarker(mydata) {
			var arr = [];
			var arr1 = [];
			var arr2 = [];
			var check1 = [];
			var a = '0';

			for(key in mydata){
				var marketaddress = mydata[key]['소재지지번주소']
				var marketname = mydata[key]['상호명']
				var markettype = mydata[key]['업종명(종목명)']
				var marketpoint = mydata[key]['point']
				arr[key] ='<div class="overlaybox">' + 
							'    <div class="infomation">' + 
							'        <div class="title">' + 
										marketname + 
							'        </div>' + 
							'        <div class="body">' + 
							'            <div class="desc">' + 
							'                <div>' +
							'                	<div class="markerstarimage"></div>' +
							'                	<div class="marketpoint">' + marketpoint + '/5'+ '</div>' +
							'					<button class="reviewpage">리뷰하기</button>' +
							'                </div>' +									
							'                <div class="ellipsis" style="display: none;">' + marketaddress + '</div>' + 
							'                <div class="jibun">' + markettype + '</div>' + 
							'            </div>' + 
							'        </div>' + 
							'    </div>' +    
							'</div>'
			}
			
			for(a in mydata){
				var check = "NO"
				var num = 0
				for(key in mydata){
					key = Number(key)
					var latlng1 = new kakao.maps.LatLng(mydata[a]['위도'] ,mydata[a]['경도'])
					var latlng2 = new kakao.maps.LatLng(mydata[key]['위도'] ,mydata[key]['경도'])

					if(a != key && latlng1.equals(latlng2)){
						num += 1
						if(num >= 6){
							arr2[a] = arr2[a] + arr[key]
							check1[a] = num
						} else{
							if(num >= 2){
								arr1[a] = arr1[a] + arr[key]
								arr2[a] = arr1[a]
								check1[a] = num
							} else{
								arr1[a] = arr[a] + arr[key]
								check1[a] = num
							}
						}
						check = "YES"
					}
				}
				if(check == "NO"){
					arr1[a] = arr[a]
					check1[a] = num
				}	
			}

			for(key in mydata){
				var marker = new kakao.maps.Marker({
					map: map,
					position: new kakao.maps.LatLng(mydata[key]['위도'] ,mydata[key]['경도']),
					clickable: true 
				});

				iwRemoveable = true; 
				var infowindow = new kakao.maps.InfoWindow({
					content: arr1[key],
					removable : iwRemoveable
				});
				
				if(check1[key] >= 6){
					kakao.maps.event.addListener(marker, 'click', makeClickListener1(arr2[key]))
				} else {
					kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow))
				}
				kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow))
				kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow))

				markers.push(marker);
			}

		}

		function makeClickListener1(item){
			return function() {
				isClick = 'NonClick'
				var content = {
            	    'list1': item,
				}
				$.ajax({
					type: 'POST',
					url: '{{url_for("list1")}}',
					data: JSON.stringify(content),
					dataType : 'JSON',
					contentType: "application/json",
					success: function(response) {
            			window.open(response.redirect, "", "width=200, height=600")
        			}
				})
			}
		}

		function makeClickListener(map, marker, infowindow) {
			return function() {
				isClick = 'Click'
				infowindow.open(map, marker);
				$(".reviewpage").click(function(){
					var index1 = ($(".reviewpage").index(this));
					var market1 = document.getElementsByClassName("title")[index1].textContent;
					var address1 = document.getElementsByClassName("ellipsis")[index1].textContent;
					market1 = market1.trim()
					var content = {
            	    	'market': market1,
						'address': address1
					}
					$.ajax({
						type: 'POST',
						url: '{{url_for("genre_picks")}}',
						data: JSON.stringify(content),
						dataType : 'JSON',
						contentType: "application/json",
						success: function(response) {
            				window.open(response.redirect, "", "width=820, height=660")
        				}
					})
				})
			}
		}

		function makeOverListener(map, marker, infowindow) {
			return function() {
				isClick = 'NonClick'
				infowindow.open(map, marker);
			};
		}

		function makeOutListener(infowindow) {
			return function() {
				if(isClick == 'Click') {return;}
				infowindow.close();
			};
		}

		//floating area의 info 부분에 내용을 추가하는 함수
		function displayinfo(mydata){

			let info = document.getElementById("cell");
			while (info.hasChildNodes()){
				info.removeChild(info.firstChild);
			}

			for(key in mydata){
				var life = document.createElement('div');
				life.className="info_list";

				var life2 = document.createElement('h5');
				life2.className="title";
				life2.textContent= mydata[key]['상호명'];

				var life4 = document.createElement('div');
				life4.className="box";

				var life5 = document.createElement('span');
				life5.className="desc";
				life5.textContent= "카테고리: " + mydata[key]['업종명(종목명)'];

				var life6 = document.createElement('span');
				life6.className="desc";
				life6.textContent="전화번호: 정보없음"

				var life7 = document.createElement('div');
				life7.className="address";
				life7.textContent= mydata[key]['소재지지번주소'];
				
				var lifereview = document.createElement('div');
				lifereview.className = "pointandreview"
						
				var life8 = document.createElement('div');
				life8.className = "starimage"
				
				var life9 = document.createElement('div');
				life9.className = "point"
				life9.textContent = mydata[key]['point'] + "/5";
				
				var life10 = document.createElement('button');
				life10.className = "review";
				life10.textContent = "리뷰하기";

				/*var index = $('a').index();*/
				/*document.getElementsByClassName("info_list").getElementsByClassName("review")*/
				document.querySelector("#content-container > div.floating_area > div.info").append(life);
				life4.appendChild(life5);
				life4.appendChild(life6);
				lifereview.appendChild(life8);
				lifereview.appendChild(life9);
				lifereview.appendChild(life10);
				life.appendChild(life2);
				life.appendChild(lifereview);
				life.appendChild(life4);
				life.appendChild(life7);
			}

			$(".info_list button").click(function(){
				var index = ($(".info_list button").index(this));
				var market = mydata[index]['상호명']
				var address = mydata[index]['소재지지번주소'];
				var content = {
                	'market': market,
					'address': address
				}
				$.ajax({
					type: 'POST',
					url: '{{url_for("genre_picks")}}',
					data: JSON.stringify(content),
					dataType : 'JSON',
					contentType: "application/json",
					success: function(response) {
            			window.open(response.redirect, "", "width=820, height=660")
        			}
				})
			})
		}

		// 배열에 추가된 마커들을 지도에서 삭제하는 함수
		function setMarkers() {
			for ( var i = 0; i < markers.length; i++ ) {
				markers[i].setMap(null);
			}   
			markers = [];       
		}

		//다음 우편번호 찾기 api
		function sample5_execDaumPostcode() {
			new daum.Postcode({
				oncomplete: function(data) {
					var addr = data.address; // 최종 주소 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;

					} 
					
					else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					// 주소 정보를 해당 필드에 넣는다.
					document.getElementById("sample5_address").value = addr;
				},

				onclose: function(state) {
					//state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
					if(state === 'FORCE_CLOSE'){
						//사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
					}
					 else if(state === 'COMPLETE_CLOSE'){

					}
				}
				
			}).open();
		}

		// 좌표로 주소를 검색하는 함수
		function searchAddrFromCoords(coords, callback){
			geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
		}


		// 검색된 주소가 경기도인지 확인하고 맞으면 데이터를 서버로 보내고 아니면 경고를 표시
		function is_gyeonggi(result, status){
			if (status === kakao.maps.services.Status.OK) {

				console.log(result[0][Object.keys(result[0])[3]])

				if (result[0][Object.keys(result[0])[3]] == '경기도')
					send_to_server();
				
				else
					alert('경기도 지역에서만 작동합니다!')
			}
		}

		//주어진 범위로 반경을 표시해주는 함수
		function draw_circle(){
			var mybutton = document.getElementById('right_button');
			var target = document.getElementById("circle_width");

			const currentClass = mybutton.className;

			if(!currentClass){
				mybutton.classList.toggle("activate");
				console.log(current_location);

				if(current_location != null){
					circle.setPosition(current_location);
					circle.setRadius(target.options[target.selectedIndex].value);
					circle.setMap(map)
				}
			}

			else{
				mybutton.classList.toggle("activate");
				circle.setMap(null);
			}
		}

		//카테고리를 리셋해주는 간단한 함수
		function reset(){
			$('#test').val('').prop("selected", true);
		}




		//좌표데이터 서버로 보내는 함수
        function send_to_server(){
			setMarkers();

			var target = document.getElementById("test");
			document.getElementById("hidden_location").value = map.getCenter();

			var location = {"parm1" : $('#hidden_location').val(), "parm2" : target.options[target.selectedIndex].value}
			
			current_location = map.getCenter();

			$.ajax({
				type: 'POST',
				url: '{{url_for("ajax")}}',
				data: JSON.stringify(location),
				dataType : 'JSON',
				contentType: "application/json",
				success: function(data){
					displayMarker(data.mydata)
					displayinfo(data.mydata)
				},
				error: function(request, status, error){
					alert('ajax 통신 실패')
					alert(error);
				}
			})
		}

	</script>
</body>
</html>